@model MadarfigyeloWeb.Models.Odutelep

@{
    ViewData["Title"] = "Szerkesztés";
}

<h1>Szerkesztés</h1>

<h4>Odutelep</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Azonosito" class="control-label"></label>
                <input asp-for="Azonosito" class="form-control" />
                <span asp-validation-for="Azonosito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telepules" class="control-label"></label>
                <input asp-for="Telepules" class="form-control" />
                <span asp-validation-for="Telepules" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeruletNev" class="control-label"></label>
                <input asp-for="TeruletNev" class="form-control" />
                <span asp-validation-for="TeruletNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtmNegyzetKod" class="control-label"></label>
                <input asp-for="UtmNegyzetKod" class="form-control" />
                <span asp-validation-for="UtmNegyzetKod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KezeloSzervezetNev" class="control-label"></label>
                <input asp-for="KezeloSzervezetNev" class="form-control" />
                <span asp-validation-for="KezeloSzervezetNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelelosSzemelyNev" class="control-label"></label>
                <input asp-for="FelelosSzemelyNev" class="form-control" />
                <span asp-validation-for="FelelosSzemelyNev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelelosSzemelyCim" class="control-label"></label>
                <input asp-for="FelelosSzemelyCim" class="form-control" />
                <span asp-validation-for="FelelosSzemelyCim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelelosSzemelyTelefonszam" class="control-label"></label>
                <input asp-for="FelelosSzemelyTelefonszam" class="form-control" />
                <span asp-validation-for="FelelosSzemelyTelefonszam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FelelosSzemelyEmail" class="control-label"></label>
                <input asp-for="FelelosSzemelyEmail" class="form-control" />
                <span asp-validation-for="FelelosSzemelyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Megjegyzes" class="control-label"></label>
                <input asp-for="Megjegyzes" class="form-control" />
                <span asp-validation-for="Megjegyzes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Mentés" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vissza a listához</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
