@{
    ViewData["Title"] = "Terepnapló";
}

<div class="text-center">
    <h1 class="display-4">Terepnapló</h1>
    <p ><a href="Odutelep">Odútelepek</a></p>
    <p ><a href="Odu">Odúk</a></p>
    <p ><a href="Latogatas">Biotika</a></p>
</div>
