@{
    ViewData["Title"] = "Adatvédelmi irányelvek";
}
<h1>@ViewData["Title"]</h1>

    <p class="last-updated"><strong>Utoljára frissítve:</strong> 2026. február 20.</p>

    <h2>Bevezetés</h2>
    <p>Ez az adatvédelmi irányelv a Terepnapló mobilalkalmazásra (a továbbiakban "Alkalmazás") vonatkozik, amelyet a wolfkonig (a továbbiakban "Szolgáltató") hozott létre ingyenes szolgáltatásként.</p>

    <h2>Információgyűjtés és felhasználás</h2>
    <p>Az Alkalmazás nem gyűjt, tárol vagy továbbít személyazonosításra alkalmas információkat az Alkalmazás felhasználóitól.</p>

    <h2>Harmadik féltől származó hozzáférés</h2>
    <p>Az Alkalmazás nem oszt meg semmilyen információt harmadik féllel.</p>

    <h2>Adatmegőrzési irányelvek</h2>
    <p>A Szolgáltató nem őriz meg felhasználói adatokat, mivel az Alkalmazás nem gyűjt személyes információkat.</p>

    <h2>Gyermekek</h2>
    <p>A Szolgáltató tudatosan nem gyűjt személyazonosításra alkalmas információkat gyermekektől. Az Alkalmazás nem szól 13 év alatti személyekhez.</p>

    <h2>Biztonság</h2>
    <p>A Szolgáltató törődik az Ön információinak bizalmas kezelésével. Mivel azonban az Alkalmazás nem gyűjt felhasználói információkat, nincs kockázata annak, hogy az Ön adatait illetéktelen személyek érik el.</p>

    <h2>Az adatvédelmi irányelvek változásai</h2>
    <p>Ez az adatvédelmi irányelv bármilyen okból időről időre frissíthető. A Szolgáltató értesíti Önt az adatvédelmi irányelv változásairól az oldal új verzióval való frissítésével. Javasoljuk, hogy rendszeresen tekintse át ezt az adatvédelmi irányelvet a változások miatt, mivel a folyamatos használat az összes változás jóváhagyásának minősül.</p>
    <p>Ez az adatvédelmi irányelv 2026. február 20-tól érvényes.</p>

    <h2>Adatok törlése</h2>
    <p>Ha aggályai vannak az adataival kapcsolatban, vagy kéri bármilyen információ törlését, amelyről úgy gondolja, hogy az Alkalmazás használatához kapcsolódhat, kérjük, vegye fel a kapcsolatot a Szolgáltatóval:</p>
    <p><strong>Email:</strong> <a href="mailto:wolfkonig.dev@gmail.com" class="contact-email">wolfkonig.dev@gmail.com</a></p>
    <p>A Szolgáltató 30 napon belül válaszol az Ön kérésére.</p>

    <h2>Az Ön hozzájárulása</h2>
    <p>Az Alkalmazás használatával Ön hozzájárul az Ön információinak feldolgozásához, ahogyan az ebben az adatvédelmi irányelvben szerepel, most és a Szolgáltató által módosított formában.</p>

    <h2>Kapcsolat</h2>
    <p>Ha az Alkalmazás használata során kérdései vannak az adatvédelemmel kapcsolatban, vagy kérdései vannak a gyakorlatokkal kapcsolatban, kérjük, vegye fel a kapcsolatot a Szolgáltatóval emailen keresztül:</p>
    <p><a href="mailto:wolfkonig.dev@gmail.com" class="contact-email">wolfkonig.dev@gmail.com</a></p>

